@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Righteous";
  src: url("/fonts/Righteous-Regular.ttf");
}

@font-face {
  font-family: "Maven";
  src: url("/fonts/MavenPro-Medium.ttf");
}

@font-face {
  font-family: "JosefinSans";
  src: url("/fonts/JosefinSans-Light.ttf");
}

@font-face {
  font-family: "JosefinSansBold";
  src: url("/fonts/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "MavenBold";
  src: url("/fonts/MavenPro-Bold.ttf");
}

@layer base{
  body{
    @apply bg-[#07060a] text-white tracking-wide font-josefinsanslight
  }

  h1{
    @apply text-7xl md:text-9xl bg-gradient-to-bl from-rose-100 to-rose-200 text-transparent bg-clip-text mb-4 font-righteous
  }

  h2{
    @apply text-2xl md:text-4xl z-30 font-mavenbold uppercase bg-gradient-to-br from-gray-300 to-rose-50 text-transparent bg-clip-text
  }
  
}
