@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ExGothic";
  src: url("/fonts/ExchangerGothic.ttf");
}

@font-face {
  font-family: "CairoLight";
  src: url("/fonts/Cairo-Light.ttf");
}

@font-face {
  font-family: "CairoBold";
  src: url("/fonts/Cairo-Bold.ttf");
}

@layer base{
  body{
    @apply bg-[#07060a] text-white tracking-wide font-exgothic
  }

  h1{
    @apply text-7xl md:text-9xl text-[#f4eeff] mb-4 font-exgothic
  }

  h2{
    @apply text-2xl md:text-5xl text-[#dec4ff] z-30 font-exgothic
  }
  
}
