@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AveriaBold";
  src: url("/fonts/AveriaSerifLibre-Bold.ttf");
}

@font-face {
  font-family: "AveriaRegular";
  src: url("/fonts/AveriaSerifLibre-Regular.ttf");
}

@font-face {
  font-family: "PridiLight";
  src: url("/fonts/Pridi-Light.ttf");
}

@font-face {
  font-family: "PridiMed";
  src: url("/fonts/Pridi-Medium.ttf");
}

@font-face {
  font-family: "Taviraj";
  src: url("/fonts/Taviraj-Black.ttf");
}

@layer base{
  body{
    @apply bg-[#0a0706] text-white tracking-wide font-pridilight
  }

  h1{
    @apply text-5xl md:text-7xl bg-gradient-to-bl from-rose-100 to-pink-100 text-transparent bg-clip-text mb-4 font-taviraj
  }

  h2{
    @apply text-2xl md:text-4xl z-30 font-averiaregular uppercase bg-gradient-to-br from-gray-300 to-rose-50 text-transparent bg-clip-text
  }
  
}
